<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sourcea.autorun-worker</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/sinakazemnezhad/Desktop/SourceA/scripts/autorun_worker_guard_v1.sh</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/sinakazemnezhad/.npm-global/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/sinakazemnezhad</string>
        <key>ANTHROPIC_API_KEY</key>
        <string>__ANTHROPIC_API_KEY_PLACEHOLDER__</string>
    </dict>

    <!-- Run every 90 seconds -->
    <key>StartInterval</key>
    <integer>90</integer>

    <key>StandardOutPath</key>
    <string>/Users/sinakazemnezhad/.sina/autorun-worker.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sinakazemnezhad/.sina/autorun-worker-err.log</string>

    <!-- Don't run if kill flag exists -->
    <key>RunAtLoad</key>
    <false/>

    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
